*~
*.uvfits
*.fitsidi
*.FITS_1
*.LA
*.LC
*.dada
*.pyc
*.h5
*.hdf5
*.sc_*
lconverter/lconvert
lconverter/corr2uvfits
lconverter/corr2uvfits.dSYM/
lconverter/SLALIB_C
lconverter/SLALIB_C
old/
.idea/
.DS_Store
build
config
interfits.egg-info
dist